.offers{
    width: 100%;
    max-width: 1200px;
    min-height: 320px;
    display: flex;
    margin: 200px auto 150px;
    padding: 40px 24px;
    background: linear-gradient(180deg,#fde1ff 0%,#e1ffea22 60%);
    box-sizing: border-box;
}
.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.offers-left h1 {
    font-size: 40px;
    margin: 0;
}

.offers-left p {
    font-size: 18px;
    margin: 0;
}

.offers-left button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
}

.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offers-right img {
    width: 100%;
    max-width: 400px;
    object-fit: contain;
    height: 350px;
}

/* Tablet */
@media (max-width: 1024px) {
  .offers{
    margin-top: 140px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .offers{
    flex-direction: column;
    gap: 24px;
    margin: 100px auto 80px;
    padding: 24px 16px;
  }
  .offers-right img{
    height: auto;
    max-width: 300px;
  }
}
